@import url('https://fonts.googleapis.com/css2?family=Notable&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: "Poppins", sans-serif;
	color: #fbf9ef;
	background-color: #172920;
}

header{	
	background-color: #2f4e3f;
	padding: 20px 0px;
	border-bottom: 1px solid #eee;
}

h1{
	font-family: "Notable", sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
}

h2{
	font-family: "Notable", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h3{
	font-size: 16px;	
}

p{
	font-size: 12px;	
}

.btn{
	background: #a4b894;
	color: #fbf9ef;
}

.btn:hover{
	background: #accbbe;
	color: #fbf9ef;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #FBF9EF;
}

.ajustarCompeto{
    float: center;
    padding: 20px 20px; 
    bottom: 0;
    background-color:#2F4E3F ;
    color: #FBF9EF;
    width: 100%;
}

.box {
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
	background-color: #2F4E3F;
	text-align: center;
}

.grupo-2{
	text-align: center;
	color:  #476951;
}

.carousel-caption{
	text-align: center;
}

#service {
	background-image: url("../img/serviciosimg.avif");
	padding: 10% 0;
	background-size: cover;
	background-position: center;
	
}

h1{
  text-align: center;
  font-size: 40px;
  color: #FBF9EF;
  padding: 10px;
}

.button {  

  border: none;
  color: #476951;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 5px;
	padding: 0px 10px;
	justify-content: center;
}


.service {
  background-color: #2f4e3f;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 4px 2px;
	margin-left: 2px;
	
}
	.service h3 {
  margin-top: 0;
text-align: center;
}

.col-lg{
	text-align: center
}



footer{
	background-color: #2f4e3f;
	padding: 20px 0px;
}